:root {
  --doc_color_toc-link-text: #360909;
}

.article__container h3,
.article__container h4,
.article__container h5,
.article__container h6 {
  padding-left: .3em;
}

.article__container h3 {
  background-color: #025989;
  color: white;
  padding-bottom: .1em;
}
.article__container h4 {
  background-color: #cfe7eb
}
.article__container h5 {
  text-decoration: underline;
}

.article__toc-container {
	background: #e0e0e0;
}
.article__toc-container a {
	color: #091936;
}

.article__container .note {
  font-size: .9em;
  color: #374a6d;
  text-align: right;
}

.article__toc-container > div {
  line-height: 1.5em;
}