/* select */
select,
::picker(select) {
	appearance: base-select;
}
select {
	border: 2px solid #dddddd;
	background: #eeeeee; color: #000;
	min-width: 250px;
	padding: 4px 10px;
	transition: 0.4s;
	font-size: 1em;
}
select:hover, select:focus { background: #dddddd; }
select::picker-icon { color: #999999; margin-top: 5px; }
select:open::picker-icon { rotate: 180deg; margin-top: 1px; }

::picker(select) {
	border: none;
	background: none;
	top: calc(anchor(bottom) + 1px);
	max-height: 460px;
}

option {
	display: flex;
	justify-content: flex-start;
	gap: 20px;

	border: 2px solid #dddddd;
	background: #eeeeee;
	padding: 10px;
	transition: 0.4s;
}
option:first-of-type { border-radius: 8px 8px 0 0; }
option:last-of-type  { border-radius: 0 0 8px 8px; }
option:not(option:last-of-type) { border-bottom: none; }
option:nth-of-type(odd) { background: white; }

option:hover,
option:focus { background: #99939f; }
option:checked { font-weight: bold; }
option::checkmark { order: 1; margin-left: auto; content: "✔"; }


/* input [type=text] */
input[type=text] {
	border: 2px solid black;
	height: 30px;
	width: 100%;
	border-radius: 50px;
	padding: 4px 11px 4px 31px;
	font-size: 16px;
	color: #555;
}
input[type=text]:focus { outline: none; }