.itemlist__entry {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;

	background: white;
	color: black;
	font-size: 14px;

	width: auto;
	border: 3px groove #ccc;
}

.itemlist__entry_titleCell {
	background: black;
	color: white;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.itemlist__entry_titleCell > .tag {
	position: relative;
	margin: 0; padding: 0 6px;

	background-color: #484848;
	color: #C9C9C9;
	font-size: 10px;

	height: 16px;
	display: flex;
	align-items: center;
}
.itemlist__entry_titleCell > .tag:before {
	content: "";
	position: absolute;
	right: -6px;
	bottom: 0; top: 0;
	border-right: 0px;
	border-left: 6px solid #484848;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.itemlist__entry_titleCell > .title {
	align-self: stretch; text-align: center;
	flex-grow: 1;
	padding: 5px;
	font-size: 16px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.itemlist__entry_blockCell {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-right: 1px solid black;
	padding: 0 5px 5px 5px;
	width: 60px;
}
.itemlist__entry_blockCell > div {
	flex-grow: 1;
}
.itemlist__entry_blockCell > div:before {
	display: block;
	font-size: 10px;
	width: clac(100% + 10px);
	background: #ccc; color: black;
	margin: 0 -5px 5px -5px;
}

.itemlist__entry_field {
  padding: 5px;
  align-self: center;
  flex: 1 1 300px;
	max-width: 800px;
}


/* InfoBox */
.itemlist__entry_infobox {
	display: inline-block;
	margin: 5px 5px 0 0;
	width: 16px; height: 16px;
	vertical-align: middle;
	cursor: help;
	position: relative;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23aaa' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='16' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12.01' y2='8'%3E%3C/line%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}
.itemlist__entry_infobox::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 125%;
	left: 50%;
	transform: translateX(-95%) translateY(-3px);
	
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	padding: 8px 12px;
	border-radius: 4px;
	border: 0px;
	
	/* 字體與佈局 */
	font-size: 12px;
	line-height: 1.5;
	white-space: normal;
	width: 300px; 
	z-index: 1000;
	
	/* 動畫效果 */
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease;
}
.itemlist__entry_infobox:hover::after {
	opacity: 1;
	transform: translateX(-95%) translateY(-3px);
}
.itemlist__entry_infobox::before {
	content: '';
	position: absolute;
	bottom: 110%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
	opacity: 0;
	transition: all 0.2s ease;
}
.itemlist__entry_infobox:hover::before {
	opacity: 1;
}