#Menu.Unfold {
  width:250px; min-width:250px;
}



.Page h2:first-child,
.Page h3:first-child,
.Page h4:first-child { margin-top: 0; }
.Page h2,
.Page h3,
.Page h4 { margin-bottom: .5em; }

.faq-entry { margin-bottom: .8em; }
.faq-entry > .faq-title {
  background-color: #cecece;
  font-weight: bold;
  font-size: .9em;
  padding-left: 5px;
}
.faq-entry > .faq-ref {
  width: fit-content;
  background-color: black; color: #ededed;
  font-size: .8em;
  margin: .3em 0;
  padding: .1em .4em;
}
.faq-entry > .faq-text {
  margin: .4em 0;
  font-size: .9em;
  text-indent: 1.3em hanging;
}
.faq-entry ul,
.faq-entry ul > li { margin-top: 0; }


.info-block.type1 {
  background: white;
  border: 1px solid black;
}



.SearchInput {
    border: none !important;
    padding: 0 12px !important;
    margin: 0 !important;
    height: 100% !important;
    width: 100%;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}
.SearchInput::placeholder {
    color: #aaa;
    font-size: 14px;
}