#SiteHeader {
  background:#4A593D;
  color:azure;
  text-shadow: 5px 5px 0em black;
}
#ContentBody {
  background-color: #D9CD90;
}
#Menu.Unfold {
  width:250px; min-width:250px;
}
.NavGroupTitle {
    /*border: 4px double rgba(255, 255, 255, 0.3);
    background: #40507e;*/
}

.Page h2:first-child,
.Page h3:first-child,
.Page h4:first-child { margin-top: 0; }
.Page h2,
.Page h3,
.Page h4 { margin-bottom: .5em; }

.info-block {
  border-radius: 10px;
  padding: .5em;
  color: black;
}
.info-block.type1 {
  background: white;
  border: 1px solid black;
}
.info-block.type2 {
  background: #ffedad;
  border: 0;
}

